@model Makale.Entities.Not

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Makale Detay</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h4>Makale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kategori.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategori.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Icerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Icerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Taslak)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Taslak)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BegeniSayisi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BegeniSayisi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KayitTarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KayitTarihi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DegistirmeTarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DegistirmeTarihi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DegistirenKullanici)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DegistirenKullanici)
            </dd>

        </dl>


    </div>
</div>
<div class="col-md-10 col-md-offset-1">
    <p>
        <a href="/Not/Edit/@Model.Id" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span> Düzenle
        </a>

        <a href="/Not/Index" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>  Listeye Dön
        </a>
    </p>

</div>
