@helper ModalPopup(string id="Modal1",string title="Yorumlar")
{
    <div class="modal fade" id="@id" name="@id" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header" id="@(id+"_header")">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@title</h4>
                </div>

                <div class="modal-body" id="@(id+"_body")">
                   

                </div>

                <div class="modal-footer" id="@(id+"footer")">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

}
